{% extends "tasks/layout.html" %}

{% block body_changable %}
    <h1> Add Tasks Abcde </h1>
    <form action="{% url 'tasks:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type = "submit"> 
        

    </form>
    <a href="{% url 'tasks:index' %}">View All Tasks</a>
{% endblock %}

<!--
BUG: 
The current path, tasks/{% url 'tasks:index' %, didn't match any of these.

CORRECT:
<a href="{% url 'tasks:index' %}">View All Tasks</a>
previous wrong: 
<a href="{% url 'tasks:index' %}>View All Tasks</a>


-->